<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <style>
        [v-cloak] {
            display: none;
        }
        * {
            margin:0;
            padding:0;
        }
    </style>
</head>
<body>
    <div id="main" v-cloak>
        <v-app>
            <v-main>
                <v-app-bar color="deep-purple accent-4" dark>
                    <v-toolbar-title>Gestion des utilisateurs</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-btn icon @click="openAddEdit()">
                        <v-icon>mdi-plus</v-icon>
                    </v-btn>
                </v-app-bar>
                <v-container>

                    <!-- Vuetify va faire l'itération seul grâce à v-data-table.
                      -- 'v-model' correspond aux items sélectionnés.
                      -- 'headers' fait références aux colonnes à afficher
                      -- 'items' = les données
                      -- 'item-key' fait référence à une valeur unique de l'objet (l'uuid)
                      -->
                    <v-data-table
                            :headers="headers"
                            :items="users"
                            item-key="uuid"
                            class="elevation-1"
                    >
                        <template v-slot:item.actions="{ item }">
                            <v-icon small class="mr-2" @click="openAddEdit(item)">mdi-pencil</v-icon>
                            <v-icon small @click="openRemove(item)">mdi-delete</v-icon>
                        </template>
                    </v-data-table>
                </v-container>

                <!-- Contenu des dialogs -->
                <v-row justify="center">
                    <!-- Boîte de dialog pour la suppression -->
                    <v-dialog v-model="dialog.delete.show" max-width="340">
                        <v-card>
                            <v-card-title class="headline" style="word-break: unset">Voulez-vous vraiment supprimer cet utilisateur?</v-card-title>
                            <v-card-text>Cette action est irréversible.</v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn class="ma-2" color="darken-1" outlined @click="closeRemove()">Annuler</v-btn>
                                <v-btn class="ma-2" color="red darken-1" outlined @click="confirmRemove()">OK</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                    <!-- Boîte de dialog pour l'ajout et l'edit -->
                    <v-dialog v-model="dialog.add.show" max-width="450">
                        <v-card>
                            <v-card-title class="headline" style="word-break: unset">Nouvel utilisateur</v-card-title>
                            <v-form ref="addForm">
                                <v-container>
                                    <v-row>
                                        <v-col cols="12" sm="6">
                                            <v-text-field
                                                    v-model="dialog.add.item.firstname"
                                                    :counter="32"
                                                    label="Prénom" outlined
                                                    required
                                            ></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6">
                                            <v-text-field
                                                    v-model="dialog.add.item.lastname"
                                                    :counter="32"
                                                    label="Nom" outlined
                                                    required
                                            ></v-text-field>
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col cols="12" sm="12">
                                            <v-text-field
                                                    v-model="dialog.add.item.email"
                                                    label="Adresse e-mail" outlined
                                                    required
                                            ></v-text-field>
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col cols="12" sm="12">
                                            <v-select label="Sexe" outlined :items="genders" v-model="dialog.add.item.gender"></v-select>
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-form>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn class="ma-2" color="darken-1" outlined @click="closeAdd()">Annuler</v-btn>
                                <v-btn class="ma-2" color="indigo darken-1" outlined @click="confirmAdd()">OK</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-row>
            </v-main>
        </v-app>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuidv4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
        new Vue({
            el: '#main',
            vuetify: new Vuetify(),
            data() {
                return {
                    dialog: {
                        add: {
                            show: false, // Le dialog est caché
                            item: {} // Valeurs par défaut
                        },
                        delete: {
                            show: false, // Le dialog est caché
                            item: null // Valeurs par défaut
                        }
                    },
                    genders: ['Homme', 'Femme'], // Liste des genres
                    headers: [ // Colonnes à afficher sur le tableau
                        { text: 'UUID', value: 'uuid' },
                        { text: 'Prénom', value: 'firstname' },
                        { text: 'Nom', value: 'lastname' },
                        { text: 'Adresse e-mail', value: 'email' },
                        { text: 'Genre', value: 'gender' },
                        { text: 'Actions', value: 'actions' }
                    ],
                    users: [
                        { uuid: uuidv4(), firstname: "John", lastname: "Doe", email: "john.doe@unknown.com", gender: "Homme" },
                        { uuid: uuidv4(), firstname: "Jane", lastname: "Doe", email: "jane.doe@unknown.com", gender: "Femme" },
                        { uuid: uuidv4(), firstname: "Javier", lastname: "Arnold", email: "javier.arnold@unknown.com", gender: "Homme" },
                        { uuid: uuidv4(), firstname: "Stella", lastname: "Larson", email: "stella.larson@unknown.com", gender: "Femme" },
                        { uuid: uuidv4(), firstname: "Amelia", lastname: "Owens", email: "amelia.owens@unknown.com", gender: "Femme" },
                        { uuid: uuidv4(), firstname: "Jessie", lastname: "Holmes", email: "jessie.holmes@unknown.com", gender: "Homme" },
                        { uuid: uuidv4(), firstname: "Jimmy", lastname: "Carroll", email: "jimmy.carroll@unknown.com", gender: "Homme" },
                        { uuid: uuidv4(), firstname: "Sarah", lastname: "Robinson", email: "sarah.robinson@unknown.com", gender: "Femme" },
                    ]
                }
            },
            methods: {
                openAddEdit(item = {}) {
                    this.dialog.add.item = Object.assign({}, item); // on copie l'objet
                    this.dialog.add.show = true;
                },
                closeAdd() {
                    this.dialog.add.show = false;
                },
                confirmAdd() {
                    const user = this.dialog.add.item;
                    if (user.uuid === undefined) {
                        user.uuid = uuidv4(); // On génère un uuid
                        this.users.push(user); // on l'ajoute à la liste
                    } else {
                        const searchUser = this.users.filter(x => x.uuid === user.uuid)[0]; // On recherche l'utilisateur
                        if (searchUser !== undefined) {
                            searchUser.firstname = user.firstname;
                            searchUser.lastname = user.lastname;
                            searchUser.email = user.email;
                            searchUser.gender = user.gender;
                        }
                    }
                    this.closeAdd();
                },
                openRemove(item) {
                    this.dialog.delete.item = item;
                    this.dialog.delete.show = true;
                },
                closeRemove() {
                    this.dialog.delete.show = false;
                },
                confirmRemove() {
                    const index = this.users.indexOf(this.dialog.delete.item);
                    this.users.splice(index, 1);
                    this.closeRemove();
                },
            }
        });
    </script>
</body>
</html>
